* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body {
    padding: 2% 4%;
}
a:link {
    text-decoration:none;
}
h3 {
    color: #000000;
}
p {
    font-size: 14px;
    line-height:0px;
}
h5 {
    line-height:0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 100px;    
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 50px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #000000;
    text-decoration: none;
}
.nav-links ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0065FC;
}
.nav-links ul li:hover::after {
    width: 100%;
}
/*SEARCH BAR*/
.search-bar-container {
    padding:10px 0px;
}
.fa-location-dot {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 12px 12px;
    border:solid;
    border-color:#f2f2f2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
/*Format search bar text*/
form.location-search input[type=text] {
    padding:10px;
    font-size: 17px;
    /*Why doesn't the color of the search bar text change?*/
    color: #000000;
    width: 200px;
    border:solid;
    border-color:#f2f2f2;
    position:relative;
    left:-10px;
}
#search {
    background-color: #0065FC;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border:solid;
    border-color:#0065FC;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    position:relative;
    left:-20px;
}
/*FILTER BUTTONS*/
/*Why did my filter buttons stretch vertically when I added flex?*/
/*.buttons-container {
    display:flex;
    flex-direction:row;
    gap:25px;
    padding:20px 0px;
    flex-wrap:wrap;
}*/
#filter-text {
    display:inline-block;
}
.button {
    display:inline-block;
    padding:0px 10px 0px 0px;
    width:auto;
    text-align:left;
    color:#000000;
    background-color:#ffffff;
    border:solid;
    border-color:#f2f2f2;
    border-radius:90px;
}
.button-title {
    font-size:15px;
    font-weight:700;
}
.fa-money-bill-wave {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-child-reaching {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-heart {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-dog {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
#more-info-text {
    margin:10px 0px;
}
.fa-info {
    display:inline-block;
    color:#0065FC;
    background-color:#ffffff;
    padding:10px 10px;
    border:solid;
    border-color:#f2f2f2;
    border-radius:90px;
}
#info-text {
    display:inline-block;
}

/*ACCOMMODATIONS*/
.accomodations-popular-container {
    margin:20px 0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:30px;
}

/*ACCOMMODATION TILES*/
.accommodations-container {
    height:600px;
    width:70%;
    margin:10px 0px;
    background-color:#f2f2f2;
    border-radius:20px;
    padding:10px;
}
.marseille-title {
    margin:20px;
    text-align:left;
    display:inline-block;
}
.room-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    gap:30px;
}
.room-card {
    background-color:#ffffff;
    width:250px;
    height:200px;
    padding:15px;
    border-radius:20px;
}
#show-more-text {
    margin:30px 20px;
}

/*MOST POPULAR TILES*/
.most-popular-container {
    height:600px;
    width:30%;
    margin:10px 0px;
    background-color:#f2f2f2;
    border-radius:20px;
    padding:10px;
}

/*MEDIA QUERY TEST*/

/* TABLET */
@media screen and (min-width=769px) and (max-width=992px) {
    h3 {
        color: green;
    }
}

/* MOBILE */
@media screen and (max-width=768px) {
    h3 {
        color: blue;
    }
}