* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body {
    padding: 2% 4%;
}
a:link {
    text-decoration:none;
}
h3 {
    color: #000000;
    font-size:22px;
    margin-bottom:5px;
}
h5 {
    font-size:15px;
    margin:12px 0px 5px 0px;
}
p {
    font-size: 14px;
    margin:5px 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 100px;    
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 50px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #000000;
    text-decoration: none;
}
.nav-links ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0065FC;
}
.nav-links ul li:hover::after {
    width: 100%;
}
/*SEARCH BAR*/
.search-bar-container {
    padding:10px 0px;
}
.fa-location-dot {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 12px 12px;
    border:solid;
    border-color:#f2f2f2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
/*Format search bar text*/
form.location-search input[type=text] {
    padding:10px;
    font-size: 17px;
    /*Why doesn't the color of the search bar text change?*/
    color: #000000;
    width: 200px;
    border:solid;
    border-color:#f2f2f2;
    position:relative;
    left:-10px;
}
#search {
    background-color: #0065FC;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border:solid;
    border-color:#0065FC;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    position:relative;
    left:-20px;
}
/*FILTER BUTTONS*/
/*Why did my filter buttons stretch vertically when I added flex?*/
.buttons-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 30px;
    margin:20px 0px;
}
#filter-text {
    display:inline-block;
    margin:14px 0px;
}
/*may want to rebuild with flex after looking at milestones*/
.button {
    display:inline-block;
    padding:0px 10px 0px 0px;
    width:auto;
    text-align:left;
    color:#000000;
    background-color:#ffffff;
    border:solid;
    border-color:#f2f2f2;
    border-radius:90px;
}
.button-title {
    font-size:15px;
    font-weight:700;
}
.button-title:hover {
    color:#0065FC;
}
.fa-money-bill-wave {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-child-reaching {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-heart {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
.fa-dog {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-3px 10px -3px -3px;
    height:100%;
}
#more-info-text {
    margin:10px 0px;
}
.fa-info {
    display:inline-block;
    color:#0065FC;
    background-color:#ffffff;
    padding:10px 9px;
    border:solid;
    border-color:#f2f2f2;
    border-radius:90px;
}
#info-text {
    display:inline-block;
}

/*ACCOMMODATIONS*/
.accomodations-popular-container {
    margin:20px 0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/*ACCOMMODATION TILES*/
.accommodations-container {
    height:625px;
    width:70%;
    margin:0% 2% 0% 0%;
    background-color:#f2f2f2;
    border-radius:20px;
    padding:30px;
}
.marseille-title {
    margin:20px;
    text-align:left;
    display:inline-block;
}
.room-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    gap:30px;
}
.room-card {
    background-color:#ffffff;
    width:260px;
    height:200px;
    padding: 5px;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.room-card:hover {
    color:#0065FC;
}
.room-card img {
    object-fit:cover;
    height:115px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.room-information {
    padding:0px 12px;
    position:relative;
    top:-10px;
}
.fa-star {
    margin:-2px;
}
.sm-blue {
    font-size:12px;
    color:#0065FC;
}
.sm-gray {
    font-size:12px;
    color:#F2F2F2;
}
#show-more-text {
    margin:5% 2%;
    color:#000000;
}

/*MOST POPULAR TILES*/
.most-popular-container {
    height:625px;
    width:30%;
    margin:0% 0% 0% 2%;
    background-color:#f2f2f2;
    border-radius:20px;
    padding: 30px;
}
.most-popular-rooms-container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
    gap:30px;
}
.room-card-popular {
    background-color:#ffffff;
    width:340px;
    height:145px;
    padding: 5px;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.room-card-image-popular {
    display:inline;
}
.room-card-image-popular img{
    display:inline;
    float:left;
    object-fit:cover;
    width:135px;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin:0px 15px 0px 0px;
}
.room-information-popular {
    display:inline;
}
.h5-popular {
    padding:0px 0px 20px 0px;
}
.p-popular {
    padding:0px 0px 20px 0px;
}

/*MEDIA QUERY TEST*/

/* TABLET */
@media (max-width:992px) {
    h3 {
        color: green;
    }
}

/* MOBILE */
@media (max-width:768px) {
    h3 {
        color: blue;
    }
}