* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif; /*Raleway isn't pulling in*/
}
a:any-link {
    text-decoration:none;
    color:#000000;
}
a:hover {
    color:#0065FC;
}
h3 {
    color: #000000;
    font-size:22px;
    margin-bottom:5px;
}
h4 {
    font-size:18px;
}
h5 {
    font-size:15px;
    margin:12px 0px 5px 0px;
}
p {
    font-size: 14px;
    margin:5px 0px;
}

/*NAV*/
nav {
    padding:0% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:-2%;
}
nav img {
    width: 100px;    
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 50px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #000000;
    text-decoration: none;
}
.nav-links ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0065FC;
}
.nav-links ul li:hover::after {
    width: 100%;
}
/*Is there a way to add the hover color to appear at the same time as the blue bar hover?*/
.nav-link:hover {
    color:#0065FC;
}
/*HEADER*/
header {
    padding:0% 3%;
}
/*SEARCH BAR*/
.filter-container {
    padding:0% 3%;
}
.search-bar-container {
    padding:10px 0px; /*consider percentages here*/
}
.fa-location-dot {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 12px 12px;
    border:solid;
    border-color:#f2f2f2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
/*Format search bar text*/
form.location-search input[type=text] {
    padding:10px;
    font-size: 17px;
    /*Why doesn't the color of the search bar text change?*/
    color: #000000;
    width: 200px;
    border:solid;
    border-color:#f2f2f2;
    position:relative;
    left:-10px;
}
#search {
    background-color: #0065FC;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border:solid;
    border-color:#0065FC;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    position:relative;
    left:-20px;
}
.buttons-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 30px;
    margin:20px 0px;
}
#filter-text {
    display:inline-block;
    margin:0px;
    padding-top:10px;
}
.button {
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content:space-between;
    color:#000000;
    background-color:#ffffff;
    border:solid;
    border-color:#F2F2F2;
    border-radius:90px;
    padding:0px;
}
.button-title {
    display:inline-block;
    font-size:18px;
    font-weight:700;
    margin:0px;
    padding:10px 15px;
}
.button-title:hover {
    color:#0065FC;
}
.fa-money-bill-wave {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-5px 5px -5px -5px;
}
.fa-child-reaching {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-5px 5px -5px -5px;
}
.fa-heart {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-5px 5px -5px -5px;
}
.fa-dog {
    color:#0065FC;
    background-color:#deebff;
    border-radius:90px;
    padding:15px;
    margin:-5px 5px -5px -5px;
}
#more-info-text {
    margin:10px 0px;
}
.fa-info {
    display:inline-block;
    color:#0065FC;
    background-color:#ffffff;
    padding:10px 9px;
    border:solid;
    border-color:#f2f2f2;
    border-radius:90px;
}
#info-text {
    display:inline-block;
}
/*MAIN*/
main {
    padding:0% 3%;
}
/*ACCOMMODATIONS*/
.accomodations-popular-container {
    margin:20px 0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/*ACCOMMODATION TILES*/
.accommodations-container {
    height:625px;
    width:66%;
    margin:0% 1% 0% 0%;
    background-color:#f2f2f2;
    border-radius:20px;
}
#marseille-accommodations-title {
    padding:2% 0% 0% 4%;
    text-align:left;
}
.room-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
}
.room-card {
    background-color:#ffffff;
    width:250px;
    height:200px;
    padding:0.5%;
    margin:2% 0%;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.room-card:hover {
    color:#0065FC;
}
.room-card img {
    object-fit:cover;
    height:115px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.room-information {
    padding:0px 12px;
    position:relative;
    top:-10px;
}
.fa-star {
    margin:0px -2px;
}
.sm-blue {
    font-size:12px;
    color:#0065FC;
}
.sm-gray {
    font-size:12px;
    color:#F2F2F2;
}
#show-more-text {
    margin:2%;
}

/*MOST POPULAR TILES*/
.most-popular-container {
    height:625px;
    width:33%;
    margin:0% 0% 0% 2%;
    background-color:#f2f2f2;
    border-radius:20px;
}
.most-popular-rooms-container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    gap:30px;
}
#marseille-popular-title {
    padding:4% 0% 4% 8%;
    text-align:left;
    display:inline-block;
}
.most-popular-star {
    display:inline-block;
    padding:6% 4% 0% 0%;
}
.room-card-popular {
    background-color:#ffffff;
    width:400px;
    height:145px;
    padding:1.2%;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.room-card-image-popular {
    display:inline;
}
.room-card-image-popular img{
    display:inline;
    float:left;
    object-fit:cover;
    width:135px;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin:0px 15px 0px 0px;
}
.room-information-popular {
    display:inline;
}
.h5-popular {
    padding:0px 0px 20px 0px;
}
.p-popular {
    padding:0px 0px 20px 0px;
}

/*ACTIVITY TILES*/
.activities-container {
    margin:4% 0%;
}
.activity-tile-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:center;
    gap:30px;
}
.activity-card-small-container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
}
.activity-card-medium {
    background-color:#ffffff;
    width:325px;
    height:475px;
    margin:2% 0%;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.activity-image-md {
    object-fit:cover;
    height:415px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity-card-small {
    background-color:#ffffff;
    width:315px;
    height:215px;
    margin:1% 0%;
    border-radius:20px;
    box-shadow:1px 8px 16px 1px rgba(0,0,0,0.1);
}
.activity-image-sm {
    object-fit:cover;
    height:155px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.activity-title {
    padding:2% 0% 0% 5%;
}

/*FOOTER*/
footer {
    background-color:#F2F2F2;
    padding:2% 3%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
}
.footer-containers {
    padding:0% 20% 0% 0%;
}
.footer-links ul {
    list-style-type:none;
    padding:0%;
}
.footer-links ul li {
    padding:0% 0% 10% 0%;
}

/*MEDIA QUERY TEST*/

/* TABLET */
@media (max-width:992px) {
    h3 {
        color: green;
    }
}

/* MOBILE */
@media (max-width:768px) {
    h3 {
        color: blue;
    }
}